<mat-form-field appearance="fill" fxFlexFill>
  <mat-label>Password</mat-label>
  <input
    [type]="hidePassword ? 'password' : 'text'"
    matInput
    [formControl]="control"
    autocomplete="false"
    cdkOverlayOrigin
    (focus)="showPasswordPolicy = !showPasswordPolicy"
    (focusout)="showPasswordPolicy = !showPasswordPolicy"
    #trigger="cdkOverlayOrigin"
  />

  <mat-icon
    *ngIf="control?.value"
    class="disabled-color cursor-pointer"
    matSuffix
    (click)="this.hidePassword = !this.hidePassword"
    >{{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon
  >
  <mat-error
    *ngIf="control?.hasError('required')"
    fxLayoutAlign="space-between"
  >
    <span>Password is required</span>
    <mat-hint *ngIf="showHint"
      ><a [routerLink]="forgotPasswordPath" [state]="{ email}"
        >Forgot your password?</a
      ></mat-hint
    >
  </mat-error>
  <mat-error *ngIf="control?.hasError('pattern')">
    Password policy is not met
  </mat-error>
  <mat-hint *ngIf="showHint" align="end"
    ><a [routerLink]="forgotPasswordPath" [state]="{ email}"
      >Forgot your password?</a
    ></mat-hint
  >
  <ng-template
    *ngIf="!showPolicyNever && !showPolicyAlways"
    cdkConnectedOverlay
    cdkConnectedOverlayPanelClass="password-policy-overlay"
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="
      (showPasswordPolicy && !control?.value) ||
      (showPasswordPolicy && (control?.hasError('pattern') ?? false))
    "
    ><app-password-policy
      [valid]="passwordValid(control?.value)"
      fxFlexFill
    ></app-password-policy>
  </ng-template>
</mat-form-field>
<app-password-policy
  *ngIf="!showPolicyNever && showPolicyAlways"
  [valid]="passwordValid(control?.value)"
  fxFlexFill
></app-password-policy>
