<button
  mat-button
  [matMenuTriggerFor]="menu"
  #menuTrigger="matMenuTrigger"
  (mouseenter)="menuTrigger.openMenu()"
>
  {{ (authRepo.user$ | async)?.firstName }}
  {{ (authRepo.user$ | async)?.lastName }}
  <mat-icon color="accent">circle</mat-icon>
</button>
<mat-menu
  #menu="matMenu"
  [overlapTrigger]="false"
  [hasBackdrop]="false"
  class="user-top-dropdown-menu"
>
  <span (mouseleave)="menuTrigger.closeMenu()">
    <button mat-menu-item>
      <mat-icon>person_outline</mat-icon>
      <span>Update Profile</span>
    </button>
    <button mat-menu-item [routerLink]="changePasswordPath">
      <mat-icon>lock</mat-icon>
      <span>Change Password</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </span>
</mat-menu>
