.user-top-dropdown-menu {
  position: relative;

  .mat-menu-content {
    margin-top: 15px;

    .mat-menu-item {
      padding: 8px;
      .mat-icon {
        margin-right: 8px;
      }
    }
  }
}
