<h1>Reset Password</h1>
<form fxLayout="column" [formGroup]="form" fxLayoutAlign="center center">
  <app-password
    fxFlexFill
    [showPolicyAlways]="true"
    [showPolicyNever]="false"
    [control]="$any(form).controls['password']"
  ></app-password>
  <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
    <app-server-error *ngIf="form.hasError('server')"> </app-server-error>

    <button
      mat-raised-button
      color="primary"
      (click)="submit()"
      class="primary-button"
    >
      <span fxLayoutAlign="center center">
        Reset Password
        <mat-spinner
          *ngIf="spinnerService.visibility | async"
          fxFlex="0 0 auto"
          color="accent"
          [diameter]="20"
        ></mat-spinner>
      </span>
    </button>

    <div>
      Do not have a mySATAC account yet?
      <a [routerLink]="registrationPath">Create an account</a>
    </div>
  </div>
</form>
