<div
  fxLayout="row"
  fxFlexFill
  class=""
  class="password-policy-container mat-small"
>
  <div fxLayout="column" fxFlex="55">
    <ng-container
      *ngFor="let index of [0, 1, 2]"
      [ngTemplateOutlet]="policy"
      [ngTemplateOutletContext]="{index}"
    ></ng-container>
  </div>
  <div fxLayout="column" fxFlex="45">
    <ng-container
      *ngFor="let index of [3, 4]"
      [ngTemplateOutlet]="policy"
      [ngTemplateOutletContext]="{index}"
    ></ng-container>
  </div>
</div>

<ng-template #policy let-index="index">
  <div [ngClass]="{ 'mat-hint': valid[index] }">
    <mat-icon inline="true">{{ valid[index] ? "done" : "circle" }}</mat-icon>
    {{ descriptions[index] }}
  </div>
</ng-template>
