<mat-form-field appearance="fill" fxFlexFill>
  <mat-label>Email</mat-label>
  <input
    type="email"
    matInput
    [formControl]="control"
    (focusout)="emailExistenceCheck()"
    autocomplete="new-email"
  />
  <mat-error *ngIf="control?.hasError('email')">
    Please enter a valid email address
  </mat-error>
  <mat-error *ngIf="control?.hasError('required')">
    Email is <strong>required</strong>
  </mat-error>
  <mat-error *ngIf="control?.hasError('inuse')">
    This email is already in use. Please
    <a [routerLink]="loginPath">Login</a> or
    <a [routerLink]="forgotPasswordPath">Reset your password</a>
  </mat-error>
</mat-form-field>
