<h1>Resend Registration Email</h1>
<form fxLayout="column" [formGroup]="form" *ngIf="!submitted">
  <p>We will resend registration email to your email address.</p>
  <app-email fxFlexFill [control]="$any(form).get('email')"></app-email>
  <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
    <app-server-error [@inOutAnimation] *ngIf="serverError"></app-server-error>
    <button
      mat-raised-button
      color="primary"
      (click)="submit()"
      class="primary-button"
    >
      <span fxLayoutAlign="center center">
        Send Registration Email
        <mat-spinner
          *ngIf="spinnerService.visibility | async"
          fxFlex="0 0 auto"
          color="accent"
          [diameter]="20"
        ></mat-spinner>
      </span>
    </button>
  </div>
</form>

<div *ngIf="submitted">
  <p>
    A verification email has been sent to
    <span class="fwb">{{ form.controls["email"].value }}</span
    >.
  </p>
  <p>Click the link in the email to activate your account.</p>
  <mat-divider class="mb-1"></mat-divider>
  <p>
    You may need to check your spam or junk mail folders in case the message was
    blocked by your email service.
  </p>
</div>
