<div fxLayout="row" fxFlexFill>
  <app-user-sidebar fxFlex="22" fxHide.xs></app-user-sidebar>
  <div fxLayout="column" fxFlex.gt-xs="78" fxFlexFill>
    <app-header [private]="true"></app-header>
    <div fxFlexFill fxLayoutAlign="center center">
      <div
        fxFlex.gt-sm="70"
        fxFlex.sm="80"
        fxFlex.xs="90"
        class="main-content"
        [@fade]="o.activatedRoute?.snapshot?.url"
      >
        <router-outlet #o="outlet"></router-outlet>
      </div>
    </div>
  </div>
</div>
