<h1>Register</h1>
<form
  fxLayout="column"
  [formGroup]="form"
  (keydown.enter)="$event.preventDefault()"
>
  <app-email
    fxFlexFill
    [control]="$any(form).controls['email']"
    [checkExists]="true"
  ></app-email>

  <app-password
    fxFlexFill
    [control]="$any(form).controls['password']"
    [showPolicyNever]="false"
  ></app-password>

  <div
    fxFlexFill
    fxLayoutAlign.gt-sm="space-between center"
    fxLayout.lt-md="column"
  >
    <mat-form-field appearance="fill" fxFlex="49" fxFlex.lt-md="100">
      <mat-label>First Name</mat-label>
      <input type="text" matInput formControlName="firstName" />
      <mat-error *ngIf="form.get('firstName')?.hasError('required')">
        First Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" fxFlex.gt-sm="49" fxFlex.lt-md="100">
      <mat-label>Last Name</mat-label>
      <input type="text" matInput formControlName="lastName" />
      <mat-error *ngIf="form.get('lastName')?.hasError('required')">
        Last Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div
    fxFlexFill
    fxLayoutAlign.gt-sm="space-between center"
    fxLayout.lt-md="column"
  >
    <mat-form-field appearance="fill" fxFlex.gt-sm="49" fxFlex.lt-md="100">
      <mat-label>Date of Birth</mat-label>
      <input
        matInput
        [max]="maxDate"
        [min]="minDate"
        [matDatepicker]="picker"
        formControlName="birthDate"
        (focus)="picker.open()"
        [readonly]="true"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker
        #picker
        [startView]="form.get('birthDate')?.value ? 'month' : 'multi-year'"
        (opened)="removeBirthDateValidation()"
        (closed)="addBirthDateValidation()"
      >
      </mat-datepicker>

      <mat-error *ngIf="form.get('birthDate')?.hasError('required')">
        A valid Date of Birth is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" fxFlex="49" fxFlex.lt-md="100">
      <mat-label>Gender</mat-label>
      <mat-select formControlName="gender">
        <mat-option
          *ngFor="let gender of genders | async"
          [value]="gender.value"
          >{{ gender.description }}</mat-option
        >
      </mat-select>
      <mat-error *ngIf="form.get('gender')?.hasError('required')">
        Gender is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <mat-form-field appearance="fill" fxFlexFill>
    <mat-label>Citizenship Status</mat-label>
    <mat-select formControlName="citizenship">
      <mat-option
        *ngFor="let citizenship of citizenships | async"
        [value]="citizenship.value"
      >
        {{ citizenship.description }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('citizenship')?.hasError('required')">
      Citizenship Status is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-checkbox
    #tc
    formControlName="termsConditions"
    fxFlexAlign="start"
    (keyup.space)="showTermsConditions($event, tc.checked)"
    (click)="showTermsConditions($event, tc.checked)"
  >
    I have read and accept SATAC's Terms and Conditions
  </mat-checkbox>
  <div class="mat-small fixed-height-15" fxFlexAlign="start">
    <mat-error
      *ngIf="
        form.get('termsConditions')?.hasError('required') &&
        form.get('termsConditions')?.dirty
      "
    >
      Acceptance of Terms & Conditions is <strong>required</strong>
    </mat-error>
  </div>
  <mat-checkbox
    #pp
    formControlName="privacyPolicy"
    fxFlexAlign="start"
    (keyup.space)="showPrivacyPolicy($event, pp.checked)"
    (click)="showPrivacyPolicy($event, pp.checked)"
  >
    I have read and accept SATAC's Privacy Policy
  </mat-checkbox>
  <div class="mat-small fixed-height-15" fxFlexAlign="start">
    <mat-error
      *ngIf="
        form.get('privacyPolicy')?.hasError('required') &&
        form.get('privacyPolicy')?.dirty
      "
    >
      Acceptance of Privacy Policy is <strong>required</strong>
    </mat-error>
  </div>
  <mat-checkbox
    formControlName="subscription"
    fxFlexAlign="start"
    class="text-wrap"
  >
    Please send me updates relating to application key dates & important
    information
  </mat-checkbox>
  <div fxLayout="column" class="fixed-height-45" fxLayoutAlign="center center">
    <mat-error class="mat-small" *ngIf="form.hasError('duplicate')">
      This email is already in use. Please
      <a [routerLink]="loginPath">Login</a> or
      <a [routerLink]="forgotPasswordPath">Reset your password</a>
    </mat-error>
    <app-server-error *ngIf="form.hasError('server')"></app-server-error>
  </div>
  <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
    <button
      mat-raised-button
      color="primary"
      (click)="submit()"
      (keyup.enter)="submit()"
      class="primary-button"
    >
      <span fxLayoutAlign="center center">
        Create Account
        <mat-spinner
          *ngIf="spinnerService.visibility | async"
          fxFlex="0 0 auto"
          color="accent"
          [diameter]="20"
        ></mat-spinner>
      </span>
    </button>
    <button mat-stroked-button class="primary-button">
      Sign up with Google
    </button>
    <div>
      Already have a MySATAC account?
      <a [routerLink]="loginPath">Login</a>
    </div>
  </div>
</form>
