<div fxFlexFill fxLayout="column">
  <app-header fxHide.gt-xs="true"></app-header>
  <div
    cdkScrollable
    fxFlex
    style="overflow: auto"
    fxLayoutAlign="center stretch"
  >
    <div fxFlexFill>
      <div fxFlex.gt-xs="64" fxLayout="row" fxLayoutAlign="center center">
        <div
          fxFlex.gt-sm="70"
          fxFlex.sm="80"
          fxFlex.xs="90"
          class="main-content"
        >
          <router-outlet></router-outlet>
        </div>
      </div>
      <app-public-sidebar
        [showMySatacInfo]="true"
        fxFlex="36"
        fxHide.xs
      ></app-public-sidebar>
    </div>
  </div>
  <app-mobile-footer fxHide.gt-xs="true"></app-mobile-footer>
</div>
