<h1>Login</h1>

<mat-card *ngIf="redirectMessage" [@inOutAnimation] class="success-panel">{{
  redirectMessage
}}</mat-card>
<form fxLayout="column" [formGroup]="form">
  <mat-form-field appearance="fill" fxFlexFill>
    <mat-label>Email</mat-label>
    <input
      type="email"
      matInput
      formControlName="email"
      placeholder="email.address@domain.com"
    />
    <mat-error *ngIf="form.get('email')?.hasError('email')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="form.get('email')?.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <app-password
    fxFlexFill
    [control]="$any(form).get('password')"
    [showHint]="true"
    [email]="form.get('email')?.value"
  ></app-password>

  <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
    <div class="fixed-height-45">
      <mat-error class="mat-small" *ngIf="form.hasError('notVerified')">
        Your registration is not verified.<br />Please click the verification
        link from your email or
        <a
          [routerLink]="resendRegistrationEmailPath"
          [state]="{ email: form.get('email')?.value }"
        >
          resend the email
        </a>
      </mat-error>
      <mat-error class="mat-small" *ngIf="form.hasError('notFound')">
        Sorry, email address or password is incorrect
      </mat-error>
    </div>
    <button
      mat-raised-button
      color="primary"
      (click)="login()"
      class="primary-button"
    >
      <span fxLayoutAlign="center center">
        Login
        <mat-spinner
          *ngIf="spinnerService.visibility | async"
          fxFlex="0 0 auto"
          color="accent"
          [diameter]="20"
        ></mat-spinner>
      </span>
    </button>
    <button mat-stroked-button class="primary-button">Login with Google</button>
    <div>
      Do not have a mySATAC account yet?
      <a [routerLink]="registrationPath">Create an account</a>
    </div>
  </div>
</form>
