<h1>Registration Success</h1>
<p>
  A verification email has been sent to
  <span class="fwb">{{ email }}</span
  >.
</p>
<p>Click the link in the email to activate your account.</p>

<p>
  You may need to check your spam or junk mail folders in case the message was
  blocked by your email service.
</p>
<div *ngIf="showResendLink" [@inOutAnimation]>
  <mat-divider class="mb-1"></mat-divider>
  <p>
    If you have not received the email and want us to resend
    <a [routerLink]="resendRegistrationEmailPath" [state]="{ email }"
      >click here</a
    >
  </p>
</div>
