// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.
@use "./theme.scss" as mysatac-theme;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
$mysatac-typography: mat.define-typography-config(
  $font-family: "'museo-sans', Helvetica, sans-serif",
);

mat-password-strength-info mat-card > mat-card-content div {
  &,
  mat-icon {
    @include mat.typography-level($mysatac-typography, "caption");
  }
}

@include mat.core($mysatac-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$mysatac-palette: (
  50: #fbfafa,
  100: #efefef,
  200: #e4e4e4,
  300: #d3d3d3,
  400: #aeaeae,
  500: #8e8e8e,
  600: #666666,
  700: #535353,
  800: #353535,
  900: #151515,
  contrast: (
    900: #fbfbfb,
    800: #f6f6f6,
    700: #f1f1f1,
    600: #e4e4e4,
    500: #c9c9c9,
    400: #a3a3a3,
    300: #7a7a7a,
    200: #656565,
    100: #464646,
    50: #252525
      // ... continues to 900,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
  ),
);

$mysatac-palette-accent: (
  50: #f4f4f4,
  100: #efefef,
  200: #e4e4e4,
  300: #d3d3d3,
  400: #aeaeae,
  500: red,
  //#353535,
  600: #666666,
  700: #535353,
  800: blue,
  900: pink,
  contrast: (
    900: #fbfbfb,
    800: #f6f6f6,
    700: #f1f1f1,
    600: #e4e4e4,
    500: #a3a3a3,
    400: #a3a3a3,
    300: #7a7a7a,
    200: #656565,
    100: #464646,
    50: #252525,
  ),
);

$mysatac-primary: mat.define-palette($mysatac-palette, 800);
//$mysatac-accent: mat.define-palette($mysatac-palette);
$mysatac-accent: mat.define-palette($mysatac-palette);

// The warn palette is optional (defaults to red).
$mysatac-warn: mat.define-palette(mat.$red-palette, 700);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$mysatac-theme: mat.define-light-theme(
  (
    color: (
      primary: $mysatac-primary,
      accent: $mysatac-accent,
      warn: $mysatac-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.core-theme($mysatac-theme);
@include mat.all-component-themes($mysatac-theme);
@include mysatac-theme.theme($mysatac-theme);

/* You can add global styles to this file, and also import other style files */
//$dark-grey: #353535;

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

.app-panel.mat-bottom-sheet-container {
  padding: 0;
}

.primary-button {
  width: 250px;

  mat-spinner {
    margin-left: 10px;
  }
}

mat-form-field {
  margin-bottom: 8px;
}

.fixed-height-15 {
  height: 15px;
}

.fixed-height-45 {
  height: 45px;
}

form .padding-0 {
  padding-left: 0;
  padding-right: 0;
}

mat-checkbox {
  label.mat-checkbox-layout {
    white-space: normal;
  }
}

.main-content {
  h1 {
    @extend .mat-display-1;
    justify-content: center;
    display: flex;
  }
}

.main-content {
  margin-top: auto;
  margin-bottom: auto;
}

.success-panel {
  background-color: #d4edda;
  margin-bottom: 20px;
}

.success-alert {
  margin-top: 50px;
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}

.error-alert {
  margin-top: 50px;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}

mat-divider.mb-1 {
  margin-bottom: 20px;
}

.fwb {
  font-weight: bold;
}

.cursor-pointer {
  cursor: pointer;
}

.password-policy-overlay {
  margin-top: 10px;
  width: 315px;
  padding: 12px;
}

a.td-none {
  text-decoration: none;
}
a:focus,
a:active {
  outline: 0;
  border: none;
}

.ml-l {
  margin-left: 10px;
}
