<h1>Forgot Password?</h1>
<form fxLayout="column" [formGroup]="form" fxLayoutAlign="center center">
  <p>We will send reset link to your email address</p>
  <mat-form-field appearance="fill" fxFlexFill>
    <mat-label>Email</mat-label>
    <input
      type="email"
      matInput
      formControlName="email"
      placeholder="email.address@domain.com"
    />
    <mat-error *ngIf="form.get('email')?.hasError('email')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="form.get('email')?.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
    <div class="fixed-height-15">
      <mat-error class="mat-small" *ngIf="form.hasError('notFound')">
        Sorry, email address is not found
      </mat-error>
    </div>
    <button
      mat-raised-button
      color="primary"
      (click)="submit()"
      [disabled]="!form.valid"
      class="primary-button"
    >
      <span fxLayoutAlign="center center">
        Send Reset Link
        <mat-spinner
          *ngIf="spinnerService.visibility | async"
          fxFlex="0 0 auto"
          color="accent"
          [diameter]="20"
        ></mat-spinner>
      </span>
    </button>
    <div>
      Remember your login details?
      <a [routerLink]="loginPath">Login</a>
    </div>
    <div>
      Do not have a mySATAC account yet?
      <a [routerLink]="registrationPath">Create an account</a>
    </div>
  </div>
</form>
